@import '../../variables/variables.scss';

.main-lightbox-container {
  position: absolute;
  width: 45rem;
  top: 7.5rem;
  left: 35%;
  box-shadow: 0 0 0 1250px $BoxShadow;
  background: $BoxShadow;
  z-index: 10;
  #close {
    position: absolute;
    left: 82.5%;
    color: white;
    font-size: 2.5rem;
    z-index: 15;
    &:hover {
      cursor: pointer;
      color: $GrayishBlue;
    }
  }
  .selector-container {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    width: 80%;
    z-index: 20;
    #selector {
      font-size: 1.25rem;
      &:hover {
        cursor: pointer;
      }
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background: $White;
      border-radius: 50%;
    }
    .selection-end {
      opacity: 0.6;
      #selector:hover {
        cursor: none;
      }
    }
  }
}